.site-header {
    background-color: #EAEAEA;
    border-bottom: 1px solid #DDDDDD;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.site-header__navigation-item {
    float: right;
}

.site-header__anchor {
    float: left;
}

.site-header__link {
    font-weight: 800;
    color: #404040;
    text-decoration: none;
}

.site-header__avatar-container {
    overflow: hidden;
}

.site-header__avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4rem;
    border-radius: 50%;
}

nav {
    padding: .5rem;
}
