.horizontal-center {
    margin: 0;
     position: absolute;
     left: 50%;
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
}

.rounded {
    border-radius:50%; 
}

.background-gray {
    background:#404040;
}
