{% assign wordcount = include.content | number_of_words %}
{% assign modifiedDate = {{ include.modifiedDate | default: include.date }} %}

<script type="application/ld+json">
    {  
        "@context":"http://schema.org",
        "@type":"BlogPosting",
        "headline":"{{ include.headline }}",
        "genre":"{{ include.category }}",
        "keywords":"{{ include.keywords }}",
        "wordCount":"{{ wordcount }}",
        "url":"https://www.codingwithwolves.com{{ include.link }}",
        "dateModified":"{{ modifiedDate | | date: '%Y-%m-%d' }}",
        "datePublished":"{{ include.date | | date: '%Y-%m-%d' }}",
        "author": {
            "@type": "Person",
            "name": "Yoan Smit",
            "sameAs": [
            "https://twitter.com/YoanSmit",
            "https://github.com/Naxyoh",
            "https://www.linkedin.com/in/yoan-smit/"
            ]
        },
        "publisher":{  
            "@type":"Person",
            "name": "Yoan Smit",
            "sameAs": [
            "https://twitter.com/YoanSmit",
            "https://github.com/Naxyoh",
            "https://www.linkedin.com/in/yoan-smit/"
            ]
        },
        "mainEntityOfPage":{  
            "@type":"WebPage",
            "@id":"https://www.codingwithwolves.com{{ include.link }}"
        },
        "articleBody":"{{ include.content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip | truncatewords: 50 }}"
    }
</script>