.horizontal-center {
    margin: 0;
     position: absolute;
     left: 50%;
     -ms-transform: translateX(-50%);
     transform: translateX(-50%);
}

.rounded {
    border-radius:50%; 
}

.background-gray {
    background:#404040;
}

.footer-link {
    color: #404040;
}

.footer-link:hover {
    color: #0085A1;
}

.footer-text {
    color: #777777;
}
